
/* #Media Queries
================================================== */
@media only screen and (max-width: 1367px) {
	
	#side-container {
	    padding: 50px 0px;/*Edited*/
	}
	
	#content-container {
	    /*width: 800px; Edited*/
	}
	
	#side-footer-wrapper {
		bottom: 20px;/*Edited*/
	}
	
	.slide-caption-wrapper.image-caption-style {
		margin-left: -300px;
	    max-width: 600px;
	    /*padding: 20px 30px;*/
	   	padding: 0;
	}
	
	.slide-caption-wrapper.image-caption-style .slide-caption {
	    padding: 20px 30px;
	}
	
	
	
	#content-container p {
		margin-bottom: 18px;
	}
	
	#content-container h1,
	#content-container h2,
	#content-container h3,
	#content-container h4,
	#content-container h5,
	#content-container h6 {
		letter-spacing: 1px;
	}
	
	#content-container h1 {
		font-size: 24px;
		margin-bottom: 13px;
	}
	
	#content-container h2,
	#content-container h3.larger {
		font-size: 20px;
		margin-bottom: 13px;
	}
	
	#content-container h3,
	#content-container h2.smaller {
		font-size: 17px;
		margin-bottom: 13px;
	}
	
	#content-container h4 {
		font-size: 15px;
		margin-bottom: 12px;
	}
	
	#content-container h5 {
		font-size: 14px;
		margin-bottom: 6px;
	}
	
	#content-container h6 {
		font-size: 12px;
		margin-bottom: 6px;
	}
	
	
	
	/**** Page Intro *****/
	#intro-wrapper {
		margin-bottom: 30px;
	}
	
	#root-container #intro-title {
		font-size: 23px;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	
	#root-container #intro-body {
		font-size: 16px;
		margin-bottom: 20px;
	}
	
	
	
	/***** Tabs *****/
	.section-container.tabs > section > .title a, .section-container.tabs > .section.active > .title a, .section-container.auto > section.active > .title a, .section-container.auto > .section.active > .title a, .section-container.auto > section > .title a, .section-container.auto > .section > .title a {
		padding: 0.9375em 0.4em;
	}
	
	
	
	/***** CTA *****/
	.cta-box-content {
		margin-right: 35%;
	}
	
}



@media only screen and (max-width: 1160px) {
	
	html {
		overflow:auto;
	}
	
	body {
		background: #666;
	}
	
	#full-scrn-slider-container {
		background: none !important;
		/*background: #202225;*/
		/*background: #202225 url('../images/loading.gif') center no-repeat;*/
		height: 100%;
		z-index: auto;
	}
	
	#full-scrn-bullets {
		/*bottom: 100px;*/
		bottom: 80px;
		display: block;
		opacity: 1;
	}
	
	#theme-body.no-content-area #full-scrn-bullets {
		bottom: 100px;
	}
	
	.slide-caption-wrapper.image-caption-style {
		/*bottom: 150px;*/
		bottom: 120px;
		opacity: 1;
	}
	
	#theme-body.no-content-area .slide-caption-wrapper.image-caption-style {
		bottom: 150px;
	}
	
	.slide-caption-wrapper.image-caption-style .slide-caption p {
	    font-size: 16px;
	}
	
	.slide-caption-wrapper {
		text-align: center;
		right: auto;
		right: 0%;
		margin-left:0px;/*Edited*/
		width:500px;/*Added*/
		margin-top:0 !important;
		top: 40%;
	}
	
	.slide-caption {
		border: 0;
		max-width: 100% !important;/*Added*/
	}
	
	#side-container {
		/*background: rgb(32,34,37);
		background: rgba(32,34,37,0.9);*/
		/*border: 1px solid rgba(235,235,235,0.2);*/
		border-top: 0;
		border-left: 0;
		border-right: 0;
	    /*padding: 50px 20px;
	    width: 230px;*/
	   	height: auto;
	   	margin-bottom: 0;
	   	padding: 0;
	   	padding-top: 20px;
	   	width: 100%;
	}
	
	#side-footer-wrapper {
		background: rgb(32,34,37);
		background: rgba(32,34,37,0.9);
	    bottom: 0;
	    padding: 10px 0 0px;
	    position: fixed;
	    z-index: 99;
	}
	
	#tagline,
	#main-menu,
	#menu-wrapper > ul,
	#content-toggle-buttons {
		display: none;
	}

	
	#logo-wrapper {
		text-align: center;
	}
	
	#logo-wrapper,
	#logo-wrapper a {
		margin-bottom: 0;
	}
	
	#logo-wrapper a {
		display: inline-block;
	}
	/*============= Dev Added Styles =========*/
	#logo-wrapper img {
		width: 80px;/*Added*/
	}
	#menu-wrapper {
		margin-top:0px;/*Added*/
	}
	
	#full-scrn-bullets{left: 50%;/*Added*/}
	.toppad{height:0 !important;}
	#content-container{margin-left: 0px !important;}
	/*============= Dev Added Styles =========*/
	
	#mobile-menu {
		display: block;
		margin-top: 20px;
		width: 100%;
	}
	
	#root-container {
		border: 0;
		z-index: auto !important;
	}
	
	#root-container,
	#inner-container {
		/*height: 100% Edited*/
		/*position: static;*/
	}
	
	.clearHeight{height:auto !important;}
	.clearHeight #content-container{text-align:left; padding: 0px 10px 10px 10px;overflow-x: hidden;}
	.clearHeight #actual-content-area {margin: 25px 0;}
	.blog-thumbnail iframe{min-height: 350px;}
	.contactleft{margin-left:0px !important;}
	.dialog__content{margin-left:0px !important; min-width: 0px !important;max-height: 695px;}
	.dialog{z-index:1000;}
	
	.filcats{padding: 10px 20px;font-size: 16px; display:block;} .filcats i{float: right; font-size: 21px; cursor:pointer;} .filcats i:hover{color:#bbb;}
	.uxb-port-element-filters{display:none;}
	.uxb-port-element-wrapper{margin-top: 20px;}
	#root-container .uxb-port-element-filters li{width: 100%;}
	#content-container .uxb-port-element-filters a {
	padding: 10px 0 10px 20px;
	width: 100%;
	border-bottom: 1px solid #333;
	text-align: left;
	}
	
	#content-container {
		background: rgb(32,34,37);
		background: rgba(32,34,37,0.9);
	   	height: auto;
	   	padding: 55px 50px 80px;
	   	position: absolute;
	   	top: 100%;
	   	width: 100%;
	}
	
	#inner-content-container {
		height: auto;
		margin-bottom: 0;
		padding-right: 0;
	}
	
	
	#page-404 {
	    right: auto;
	    width: 100%;
	    text-align: center;
	}
	
	#search-form-404 input {
	    margin: auto;
	    width: 40%;
	}
	
	#copyright {
	    /* float: left; */
	    display: inline-block;
	    margin-bottom: 0;
	}
	ul.bar-social {
	    display: inline-block;
	    margin-left: 20px;
	}
	ul.bar-social li {
	    margin-bottom: 0;
	}

}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
	
	
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	#inner-content-container {
		/* use for fixing unexpected display issue of vertical tab's content */
		overflow: inherit;
	}
	
	#copyright {
	    display: block;
	    margin-bottom: 10px;
	}
	
	ul.bar-social {
		margin-left: 0;
	}
	
	ul.bar-social img {
	    width: 25px;
	}
	
	.slide-caption-wrapper.image-caption-style {
		margin-left: -300px;
	    max-width: 600px;
	    padding: 0;
	}
	
	/*.slide-caption-wrapper.image-caption-style .slide-caption {
	    padding: 20px 30px;
	}*/
	
	#content-container {
		padding-bottom: 100px;
	}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
	.dialog__content{margin-left:0px !important; min-width: 0px !important;max-height: 695px;}
	.dialog{position: absolute !important;top: -350px !important;}

	#content-container {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	
	#content-container .columns {
		margin-bottom: 0px;/*Edited*/
	}
	
	.row, 
	.row .row {
		margin-bottom: 0;
	}
	
	.slide-caption-wrapper.image-caption-style {
		margin-left: -175px;
	    max-width: 350px;
	}
	
	.slide-caption {
	    padding: 110px 60px;
	}
	
	#root-container .uxb-port-element-filters {
	    text-align: center;
	}
	
	.uxb-port-element-filters li:first-child a {
		padding-left: 20px;
	}

	#root-container .uxb-port-root-element-wrapper .uxb-port-element-item {
		width: 49.5%;
	}
	
	#root-container #uxb-port-item-meta {
	    border: 0;
	    margin: 0;
	    padding: 0 0 20px;
	}
	
	
	
	#page-404 {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -95px;
		padding: 0 40px;
	}
	
	#page-404 {
	    margin-top: -75px;
	}
	
	#page-404 h1 {
	    font-size: 18px;
	}
	
	#page-404 h1 + p {
	    font-size: 14px;
	}
	
	#search-form-404 input {
		margin-top: 20px;
		width: 100%;
	}
	
	
	
	
	.cta-box-content {
		margin-right: 0;
		text-align: center;
	}
	
	#content-container .cta-box-button.right {
		position: static;
		margin-top: 18px;
		text-align: center;
		display: block;
		width: 100%;
	}
	
	
	
	
	#content-container a.image-link, 
	#content-container a.link-image, 
	#content-container a.image-box {
		width: 100% !important;/*Edited*/
	}
	
	
	
	.section-container, 
	.section-container.auto {
		border: 1px solid #666;
	}
	
	.section-container > section.active, 
	.section-container > .section.active {
		padding-top: 0 !important;
	}
	
	.section-container.tabs > section:first-child > .title, 
	.section-container.tabs > .section:first-child > .title, 
	.section-container.auto > section:first-child > .title, 
	.section-container.auto > .section:first-child > .title {
		border-top-width: 0;
	}
	
	.section-container.vertical-tabs > section:last-child > .title, 
	.section-container.vertical-tabs > .section:last-child > .title {
		border-bottom: 0 !important;
	}
	
	.section-container.vertical-tabs > section.active > .title, 
	.section-container.vertical-tabs > .section.active > .title {
		border-left: 0;
		width: 100%;
	}
	
	
	
	
	
	#content-container blockquote {
	    padding: 0;
	    margin: 30px 0;
	}
	
	#content-container blockquote.left, 
	#content-container blockquote.right {
		margin: 10px 0;
		width: 50%;
	}
	
	.uxb-tmnl-testimonial-wrapper.style2 {
		width: 100% !important;
	}
	
	.uxb-tmnl-testimonial-item .uxb-tmnl-blockquote-wrapper,
	.uxb-tmnl-testimonial-wrapper.style2 .uxb-tmnl-blockquote-wrapper {
    	margin: 45px 0 0;
    	overflow: hidden;
	    padding: 10px 0 45px;
	}
	
	.uxb-tmnl-testimonial-wrapper.style2 .uxb-tmnl-blockquote-wrapper {
		margin-top: 30px;
	}
	
	.uxb-tmnl-testimonial-item .uxb-tmnl-testimonial-thumbnail {
		display: none;
	}
	
	#root-container #content-container blockquote p, 
	#content-container #sidebar-wrapper blockquote p, 
	#root-container #footer-content blockquote p {
	    font-size: 18px;
	}
	
	
	
	.gallery-wrapper {
	    text-align: center;
	}
	
	#content-container .gallery-item {
		display: inline-block;
		margin: 15px auto;
		max-width: inherit;
		width: auto;
	}
	
	
	
	
	#content-container .blog-title {
		font-size: 18px;
		line-height: 1.3;
	}
	
	
	
	#author-box {
		padding: 25px 0;
	    text-align: center;
	}
	
	#author-box img.avatar, 
	#author-box #author-photo-wrapper {
	    float: none;
	    margin-bottom: 18px;
	}
	
	#author-info {
		margin-left: 0;
	}
	
	ul#author-social {
	    float: none;
	}
	
	
	
	#contact-form .columns {
	    margin-bottom: 0;
	}
	
	/* init states */
	#side-footer-wrapper #copyright, 
	#side-footer-wrapper .bar-social {
		/*opacity: 0;*/
	}
	
	#sidebar-wrapper {
	    margin-top: 0px;/*Edited*/
	}
	
	#wpml-language-selector.mobile-mode {
	    position: static;
	}
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	/*Added styles*/
	#side-container{padding-top: 5px;}
	#logo-wrapper img {width: 40%;}
	#mobile-menu {margin-top: 10px;}
	#content-container{padding: 0px 10px 10px 10px !important; text-align: center;}
	.uxb-port-root-element-wrapper.col4 .uxb-port-element-item{margin-bottom: 10px !important;}
	.slide-caption-wrapper {margin-top:0 !important;}
	.cbp-bislideshow li img{height: 100%;max-width: none !important; width:auto !important;}
	#full-scrn-bullets{display: none !important;}
	
	#full-scrn-slider .caption-title {
	    font-size: 18px;
	}
	
	#full-scrn-slider .caption-body {
	    display: none;
	}
	
	.slide-caption-wrapper,
	.slide-caption {
	    left: auto;
	    margin-left: inherit;
	    width: 100%;padding: 0px 20px;
		max-width:none !important;
		
	}
	.slide-caption.portcap{padding: 10px 15px;}
	.slide-caption.portcap h2{margin-bottom:0 !important;}
	.caparent{width:auto; right:0; padding:0;}
	.caparent .opclose{margin-top: -33px;}
	.clearHeight{height:auto !important;}
	.clearHeight #content-container{text-align:left;}
	.clearHeight #actual-content-area {margin: 25px 0;}
	.postype{margin: 0 5px 0px 0;}
	.postype img{padding: 7px;width: 11px;}
	#blog-list-wrapper .blog-meta li{font-size: 11px;}
	.contactleft{margin-left:0px !important;}
	.contacts .theneeded, .contacts .themessage{width: 100% !important;}
	.row.contacts {padding: 0 15px !important;}

	.slide-caption-wrapper.image-caption-style {
	    left: auto;
	    margin: 0 auto;
		padding: 10px 20px;
	    max-width: inherit;
	}
	
	.slide-caption-wrapper.image-caption-style .slide-caption {
		margin-left: 0;
	    padding: 10px 30px;
	}
	
	#full-scrn-slider .slide-caption-wrapper.image-caption-style .caption-body {
		display: block;
	}
	
	.slide-caption-wrapper.image-caption-style .slide-caption p {
	    font-size: 14px;
	    line-height: 1.4;
	}
	
	
	
	#intro-wrapper {
		margin-bottom: 20px;
	}
	
	#root-container #intro-title {
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	
	#root-container #intro-body {
		font-size: 15px;
		margin-bottom: 20px;
	}
	
	
	
	
	#root-container .uxb-port-root-element-wrapper .uxb-port-element-item {
		width: 100%;
	}
	
	
	
	#content-container blockquote.left, 
	#content-container blockquote.right {
		margin: 20px 0;
		padding: 0;
		width: 100%;
	}
	
	
	.image-slider-item .slider-caption, .image-caption {
	    display: none;
	}
	
	
	span.custom-icon-w-text {
	    margin-left: 0;
	    margin-bottom: 10px;
	}
	
	
	
	.blog-thumbnail {
	    float: none;
	    margin-bottom: 0px;/*Edited*/
	}
	
	/* Comments */
	.commenter-photo {
	    display: none;
	}
	
	.comment-post-wrapper {
	    margin: 0;
	}
	
	ul.children {
		margin-left: 15px !important;
	}
	
	#respond .columns {
	    margin-bottom: 0;
	}
	
	
}